snowflake-connector-python==2.9.0
grpcio==1.67.1
python-dotenv
sqlalchemy==1.4.46
snowflake-sqlalchemy==1.4.4
pandas
streamlit
groq
streamlit-aggrid
sqlglot
fuzzywuzzy
pyarrow==18.1.0
python-Levenshtein



